{include file="header.html"} {literal}
<style type="text/css">
<!-- .pg-container {
    position: relative;
    height: 100%;
    _height: 100%;
    background: #FAFAFA;
    padding-bottom: 40px;
}
-->
</style>{/literal} {if $magic.request.type=="email"}
<div class="container_10 mt30 fn-clear">
    <div class="box p20 mt20">
        <div class="reg_tit">免费注册</div>
        <div style="background:#F6F4F4; padding:40px 25px; margin:0px 30px">
            <div style="text-align:center">
                <img src="{$tempdir}/images/success.gif" />
            </div>
            <div style="width:675px; margin:20px auto; ">
                <div style="color:#AE0606; line-height:28px; font-size:14px">{$_G.user_result.email}将收到一封认证邮件，登录您的邮箱查收，并点击邮件中的链接，完成激活。激活成功后， 您就可以畅快使用站内所有功能，否则将不能使用{$_G.system.con_webname}的所有功能哦~~</div>
                <div style="text-align:center; margin-top:15px;">
                    <a href="{$_U.emailurl}" target="_blank">
                        <img src="{$tempdir}/images/mailgo.gif" border="0" />
                    </a>
                </div>

                <div style="margin-top:25px; font-size:14px">如果30分钟内没有收到激活邮件，查看您的垃圾邮箱，依然不能收到请重新发送。
                    <br />
                    <input type="text" value="{$_G.user_result.email}" readonly="readonly" name="textfield" style="width:250px; border:#BFBFBF solid 1px; height:18px;" />
                    <input type="button" value="重新发送" onClick="sendemail()" />
                    <br />

                </div>

                <div style="margin-top:15px; font-size:14px">等待激活时间，您还可以去这里看看：<a href="/invest/index.html" style=" color:#025ED0; font-size:14px; text-decoration:underline">我要投资</a>  <a href="/borrow/index.html" style=" color:#025ED0; font-size:14px; text-decoration:underline">我要借款</a>
                </div>
            </div>
        </div>
    </div>
</div>






{literal}
<script>
function sendemail() {
    var newemail = $("#email").val();
    $.post("/index.php?user&q=reg&type=sendemail", {
        checkemail: newemail
    }, function(result) {
        alert("发送成功，请登录邮箱确认激活！");
    });
}
</script>
{/literal} {else}
<div class="pg-one" id="page-reg">
    <div class="container_10 mt30 fn-clear">
        <div class="reg-container p10 grid_9">
            <div class="txtC">
                <img src="{$tpldir}/images/reg_step1.jpg" />
            </div>
            <div class="content-block p20 mt20">
                <div class="borrow-add-from mt10 registerform">
                    <form action="#" method="post" class="form-horizontal" novalidate name='reg_form' ng-init='is_server=true; invite_username="{$magic.session.reginvite_user_id}x"'>
                        <h3 classs='header'>用户注册</h3>
                        <hr>
                        <div class="form-group">
                            <label class="col-md-3 control-label">昵称</label>
                            <div class="col-md-4">
                                <input name="username" ng-model='username' id="username" type="text" class="form-control" required title='请输入您网站的昵称(用户名)'/>
                            </div>
                        </div>
                        {literal}
                        <div class="form-group">
                            <label class="col-md-3 control-label">手机号码</label>
                            <div class="col-md-4">
                                <input name="mobile" ng-model='mobile' id="mobile" type="text" class="form-control" required ng-pattern='/^\d{11}$/' title='请输入手机号码'/>
                            </div>
                        </div>
                        {/literal}

                        <div class="form-group">
                            <label class="col-md-3 control-label">电子邮箱</label>
                            <div class="col-md-4">
                                <input name="email" ng-model='email' id="email" type="text" class="form-control" required title='请输入您常用的邮箱地址'/>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-3 control-label">登录密码</label>
                            <div class="col-md-4">
                                <input name="password" ng-model='password' id="password" ng-maxlength='15' ng-minlength='6' type="password" class="form-control" required title='请输入6~15个字符'/>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-3 control-label">确认登录密码</label>
                            <div class="col-md-4">
                                <input name="confirm_password" ng-model='confirm_password' id="confirm_password" type="password" class="form-control" required title='请重复输入上面的密码' zl-match='password'/>
                            </div>
                        </div>

                        {if $magic.session.reginvite_user_id==""}
                        <div class="form-group">
                            <label class="col-md-3 control-label">推荐人<small>(选填)</small></label>
                            <div class="col-md-4">

                                <input name="invite_username" ng-model='invite_username' id="invite_username" type="text" class="form-control" />
                            </div>
                        </div>
                        {else}
                        <input name="invite_user_id" id="invite_user_id" type="hidden"/>
                        {/if}


                        <div class="form-group">
                            <label class="col-md-3 control-label">验证码</label>
                            <div class="col-md-2">
                                <input name="valicode" ng-model='valicode' id="valicode" type="text" class="form-control" required title='请填写验证码'/>
                            </div>
                            <div class="col-md-2">
                                <input class='btn btn-info btn-block' type="button" value="发送验证码" id="dxtc" ng-disabled='reg_form.mobile.$invalid'>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-6 col-md-offset-3">
                                <div class="checkbox small">
                                    <label>
                                        <input id="is_server[]" name="is_server[]" ng-model='is_server' type="checkbox" value="1" checked="checked" class="ml20"></input>
                                        我已阅读并同意{$_G.system.con_webname}
                                    </label>
                                    <a href="/privacy/index.html" target="_blank" id='protocol_url' class="blue">《注册协议》</a>条款&nbsp;&nbsp;
                                    <span id="protocol_msg" class="red hide">请阅读并同意相关条款</span>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-4 col-md-offset-3">
                                <input type="hidden" name="type" value="ajax" />
                                <button type="submit" class='btn btn-lg btn-success btn-block' ng-disabled='!is_server || reg_form.$invalid'>提 交</button>
                            </div>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{/if}

{literal}
<script>
$(function() {
    $('#dxtc').click(function() {
        var myreg = /^(((13[0-9]{1})|(15[0-9]{1})|(18[0-9]{1}))+\d{8})$/;
        var mobile = $('#mobile').val();
        var username = $('#username').val();
        if (myreg.test(mobile)) {
            $.post('index.php?user&q=reg', {
                'Rc5vc': 1,
                'type': 'ajax',
                'mobile': mobile,
                'username': username
            }, function(r) {
                alert(r);
                $('#dxtc').attr('disabled', 'disabled');
                var timerTime = 60;
                var timer = setInterval(function() {
                    timerTime--;
                    if (timerTime == 0) {
                        $('#dxtc').attr('disabled', false);
                        $('#dxtc').val('发送验证码');
                        clearInterval(timer);
                    }
                    $('#dxtc').val('发送验证码(' + timerTime + ')');
                }, 1000);

            });
        }

    });

    deayou.use("users", function(users) {
        users.reg();
    });
});


function CharMode(iN) {
    if (iN >= 48 && iN <= 57) //数字
        return 1;
    if (iN >= 65 && iN <= 90) //大写
        return 2;
    if (iN >= 97 && iN <= 122) //小写
        return 4;
    else
        return 8;
}
//bitTotal函数
//计算密码模式
function bitTotal(num) {
    modes = 0;
    for (i = 0; i < 4; i++) {
        if (num & 1) modes++;
        num >>>= 1;
    }
    return modes;
}
//返回强度级别
function checkStrong(sPW) {
    if (sPW.length <= 4)
        return 0; //密码太短
    Modes = 0;
    for (i = 0; i < sPW.length; i++) {
        //密码模式
        Modes |= CharMode(sPW.charCodeAt(i));
    }
    return bitTotal(Modes);
}

//显示颜色
function pwStrength(pwd) {
    O_color = "#e6e6e6";
    L_color = "#ea4d42";
    M_color = "#ff9e3d";
    H_color = "#56c415";
    if (pwd == null || pwd == '') {
        Lcolor = Mcolor = Hcolor = O_color;
    } else {
        S_level = checkStrong(pwd);
        switch (S_level) {
            case 0:
                Lcolor = Mcolor = Hcolor = O_color;
            case 1:
                Lcolor = L_color;
                Mcolor = Hcolor = O_color;
                break;
            case 2:
                Lcolor = Mcolor = M_color;
                Hcolor = O_color;
                break;
            default:
                Lcolor = Mcolor = Hcolor = H_color;
        }
    }
    document.getElementById("strength_L").style.background = Lcolor;
    document.getElementById("strength_M").style.background = Mcolor;
    document.getElementById("strength_H").style.background = Hcolor;
    return;
}
</script>
{/literal}
{include file="footer.html"}