{include file="header.html"} {literal}
<script>
if (user_id == "") {
  alert("请先登录后再查看！");
  location.href = '/?user&q=login';
}
</script>
{/literal}
<link rel="stylesheet" href="{$tpldir}/static/css/invest.css">
<div class="container">
  {articles module="borrow" function="GetView" var="var" borrow_nid=$magic.request.article_id hits="auto"} {if $var.status==0 && $_G.user_id!=$var.user_id}
  <script>
  alert("借款正在初审中，不能查看详情信息");
  location.href = '/invest/index.html';
  </script>
  {/if} {if $var.borrow_type=="roam"} {include file="borrow_roam_content.html"} {else}
  <!--内容开始-->
  <div class="pg-invest" id="page-invest-page">

    <div class="show-grid">
      <ol class="breadcrumb">
        <li><a href="/"> 首页</a>
        </li>
        <li><a href="/invest/index.html">项目理财列表</a>
        </li>
        <li class="active">查看详细</li>
      </ol>
    </div>
    <div class="row show-grid">
      <div class="col-md-8">
        <div class="content-block padding-large" style='height:320px'>
          <h4 class="header">
            <span class="invest-icon invest-1"></span>
            {$var.name}
            <small>{$var.borrow_nid}</small>
          </h4>
          <hr>

          <div class="row vr show-grid">
            <div class="col-md-4">
              <small>借款金额</small>
              <p>
                <em class="f30" id='account'>{$var.account}</em>元</p>
            </div>
            <div class="col-md-4">
              <small>年利率</small>
              <p>
                <em class="f30 text-warning" id='apr'>{$var.borrow_apr}</em>%</p>
            </div>
            <div class="col-md-4" id='time_limit'>
              <small>借款期限</small>
              <p>
                <em class="f30">{$var.borrow_period_name}</em>
              </p>
            </div>
          </div>

          <div class="row">
            <div class="col-md-6">
              保障返回：
            </div>
            <div class="col-md-6">
              还款方式：{$var.style_title}
            </div>
          </div>
          <hr>

          <div class="row">
            <p class="col-md-6">
              投标进度：
              <progressbar value="{$var.borrow_account_scale}" type="warning" class="progress progress-mini progress-inline"></progressbar>
              <span class="percentage">{$var.borrow_account_scale}</span>
            </p>
            <p class="col-md-6">
              剩余金额：
              <span class="text-warning">{$var.borrow_account_wait|default:0}</span>元
            </p>
            <p class="col-md-6">
              投标人数:
            </p>
            <p class="col-md-6">
              {if $var.borrow_account_scale!=100}
                {if $var.status==3}剩余时间：
                  <span class='text-danger'>0天0时0分</span>
                {else}
                  剩余时间：
                  {if $var.status==0}
                    审核中
                  {else}
                    <span id="endtime">{$var.borrow_other_time}</span>
                  {/if}
                {/if}
              {else}
                剩余时间:已满标
              {/if}
            </p>
          </div>

        </div>

      </div>
      <div class="col-md-4">
        <div class="content-block padding-large" style='height:320px'>
          <h4 class="header">我要投标</h5>
          <hr>

          {articles module="account" function="GetOne" var="Avar" user_id="$_G.user_id"}
          <p class="f12">账户余额</p>
          <p style="margin-top:-5px;">
            <em class="f30 bold" id='use_money'>{$Avar.total|default:0.00}</em>元<a class="btn btn-success pull-right" href="/?user&q=code/account/recharge_new" target="_blank">充值</a>
          </p>
          {/articles}
          <form action="/?user&q=code/borrow/tender&p=invest&borrow_nid={$var.borrow_nid}" method='post' ng-init='agreement=true' name='borrow'>
            <div class="form-group">
              <div class="input-group">
                <input type="number" required="required" name="money" ng-model="money" placeholder="最低50元" min="50" max='{$Avar.total|default:0.00}' class="form-control"/>
                <span class="input-group-addon">元</span>
              </div>
            </div>
            <div class='checkbox'>
              <label> <input type="checkbox" ng-model='agreement' /> 我已阅读并同意 </label>
              <a target="_blank" href="/protocol/index.html">《借款协议》</a>
            </div>
            <div class="form-group">
              <button type='submit' class="btn btn-warning btn-lg btn-block" ng-disabled='borrow.$invalid || !agreement'>马上投资</button>
            </div>
          </form>
        </div>
      </div>
    </div>
    {literal}

    <script type="text/javascript">
    var CID = "endtime";

    if (window.CID != null) {

      var iTime = document.getElementById(CID).innerHTML;

      var Account;

      RemainTime();

    }

    function RemainTime() {

      var iDay, iHour, iMinute, iSecond;

      var sDay = "",
        sTime = "";

      if (iTime >= 0) {

        iDay = parseInt(iTime / 24 / 3600);

        iHour = parseInt((iTime / 3600) % 24);

        iMinute = parseInt((iTime / 60) % 60);

        iSecond = parseInt(iTime % 60);



        if (iDay > 0) {

          sDay = iDay + "天";

        }

        sTime = sDay + iHour + "小时" + iMinute + "分钟" + iSecond + "秒";



        if (iTime == 0) {

          clearTimeout(Account);

          sTime = "<span style='color:green'>时间到了！</span>";

        } else {

          Account = setTimeout("RemainTime()", 1000);

        }

        iTime = iTime - 1;

      } else {

        sTime = "<span style='color:red'>0天0时0分</span>";

      }

      document.getElementById(CID).innerHTML = sTime;

    }
    </script>

    {/literal}
    <div class="">
      <div class="invest-tab pt15">
        <ul class="fn-clear">
          <li class="fLeft invest-tab-item current"><a class="invest-tab-item-link current" href="javascript:void(0)">借款者信息</a>
          </li>
          <li class="fLeft invest-tab-item"><a class="invest-tab-item-link" href="javascript:void(0)" onclick="toubian();">投标记录</a>
          </li>
          <li class="fLeft invest-tab-item"><a class="invest-tab-item-link" href="javascript:void(0)">信息披露</a>
          </li>
          <!--  <li class="fLeft invest-tab-item" id="refund-link"><a class="invest-tab-item-link" href="javascript:void(0)" >还款记录</a></li> -->
        </ul>
      </div>
    </div>
    <div class="clearfix show-grid">
      <!--tab1-->
      <div class="invest-tab-container investcustom" style="display:block;">
        {articles module="rating" function="GetInfoOne" var="Ivar" user_id="$var.user_id"} {articles module="approve" function="GetEduOne" var="Evar" user_id="$var.user_id"}
        <p class="cusinfortit">用户信息</p>
        <table class="custominfor" cellspacing="0">
          <tr class="">
            <td width="34"></td>
            <td width="70">性　　别：</td>
            <td width="210" id='sex'>{$Ivar.sex|linkages:"rating_sex"|default:"未填"}</td>
            <td width="70">年　　龄：</td>
            <td width="210" id='age'>{$Ivar.birthday|date_format:"Y-m-d"|default:"未填"}</td>
            <td width="70">学　　历：</td>
            <td width="210" id='edu'>{if $Evar.degree!=''}{$Evar.degree|default:"未填"}{else}{$Ivar.edu|linkages:"rating_education"|default:"未填"}{/if}</td>
            <td></td>
          </tr>
          <tr class="">
            <td width="34"></td>
            <td width="70">婚姻状况：</td>
            <td width="210" id='marry'>{$Ivar.marry|linkages:"rating_marry"|default:"未填"}</td>
            <td width="70">收入范围：</td>
            <td width="210" id='month_income'>{$Ivar.income|linkages:"rating_income"|default:"未填"}</td>
            <td width="70" id="shebao-title">职　　位：</td>
            <td width="210" id='shebao'>{$Jvar.office|default:"未填"}</td>
            <td></td>
          </tr>
          <tr class="">
            <td width="34"></td>
            <td width="70">住房条件：</td>
            <td width="210" id='house'>{$Ivar.house|linkages:"rating_house"|default:"未填"}</td>
            <td width="70" id="car-title">是否购车：</td>
            <td width="210" id='car'>{$Ivar.is_car|linkages:"rating_car"|default:"未填"}</td>
            <td width="70">户籍城市：</td>
            <td width="210" id='industry'>{articles module="rating" function="GetContactOne" var="Ivar" user_id=$var.user_id} {$Ivar.live_city|areas:"p,c,a"|default:"未填"} {/articles}
            </td>
            <td></td>
          </tr>

        </table>
        {/articles}{/articles}

        <p class="cusinfortit">账户详情</p>
        {articles module="borrow" plugins="count" function="GetUsersCount" var="Cvar" user_id="$var.user_id"}
        <table class="custominfor" cellspacing="0">
          <tr class="">
            <td width="34"></td>
            <td width="98">发布借款笔数：</td>
            <td id='sum_wait_repayment_account' width="182">{$Cvar.borrow_times|default:"0"}</td>
            {articles module="borrow" plugins="count" function="GetUsersRepayCount" var="repay_var" user_id="$var.user_id"}
            <td width="98">成功借款笔数：</td>
            <td id='sum_wait_collection_account' width="182">{$repay_var.borrow_success_num|default:0}</td>
            <td width="98">还清笔数：</td>
            <td id='creditLimit' class="txtLeft" width="182">{$repay_var.repay_yes_times|default:0}</td>
            <td></td>
          </tr>
          <tr class="">
            <td width="34"></td>
            <td width="98">逾期次数：</td>
            <td id="sum_borrow_account" width="182">{$repay_var.repay_late_no_num|default:0}</td>
            <td width="98">严重逾期次数：</td>
            <td id='sum_over_repayment_account' width="182">{$Cvar.borrow_times_late|default:"0"}</td>
            <td width="98"></td>
            <td width="182"></td>
            <td></td>
          </tr>
          <tr class="">
            <td width="34"></td>
            <td width="98">共计借入：</td>
            <td id="sum_invest_account" width="182">{$repay_var.borrow_success_account|default:0.00}</td>
            <td width="98">待收本息：</td>
            <td id='sum_over_collection_account' width="182">{$Cvar.tender_recover_wait|default:"0"}</td>
            <!-- <td class="txtLeft" width="">垫付未还：<span class="" id="sum_rxdai_repayment_account"></span></td> -->
            <td width="98"></td>
            <td width="182"></td>
            <td></td>{/articles}
          </tr>
        </table>


        <p class="cusinfortit">还款信用</p>
        <table width="900" border="0" cellspacing="0" cellpadding="0" class='show-grid'>
          <tr>
            <td style="10%">{articles module="borrow" function = "GetBorrowCredit" user_id="$var.user_id" var="Credit_var"} 信用等级：{$var.credit|credit:"borrow"}
              <!-- （{$Credit_var.approve_credit}） -->
              {/articles}</td>
            <td style="90%">
              {articles module="borrow" plugins="Amount" function="GetAmountUsers" user_id="$var.user_id" var="_amount"} {if $var.borrow_type=="credit"} 信用额度：{$_amount.credit|default:"0"}（借款后的可用额度：{$_amount.credit_use|default:"0"}） {elseif $var.borrow_type=="vouch"}担保额度：{$_amount.vouch|default:"0"}（借款后的可用担保额度：{$_amount.vouch_use|default:"0"}） {elseif $var.borrow_type=="pawn"}抵押额度：{$_amount.pawn|default:"0"}（借款后的可用抵押额度：{$_amount.pawn_use|default:"0"}） {elseif $var.borrow_type=="worth"}信用额度：{$_amount.credit|default:"0"}（借款后的可用额度：{$_amount.credit_use|default:"0"}） {elseif $var.borrow_type=="day"}信用额度：{$_amount.credit|default:"0"}（借款后的可用额度：{$_amount.credit_use|default:"0"}） {elseif $var.borrow_type=="second"}信用额度：{$_amount.credit|default:"0"}（借款后的可用额度：{$_amount.credit_use|default:"0"}） {/if} {/articles}
            </td>
          </tr>
        </table>
        <!--<span class="w190 fLeft ti15">迟还款笔数：0</span>-->



        <h5 class="f18 invest-container-title">详细介绍</h5>
        <div class="mt10 briefIntro show-grid">
          <p class="pb5">
            <span class="blue" id='borrow_content_username'></span>对本次借款的介绍说明：</p>
          <div class="bfDetail" id='borrow_content'>
            {$var.borrow_contents}
          </div>
          <!--briefIntro-->
        </div>

        <div class='row'>
          {literal}
          <div class='col-md-7' ng-controller="CarouselDemoCtrl">
            <h5 class="f18 invest-container-title">权证信息</h5>
            <div style="height: 305px" >
              <carousel interval="myInterval">
                <slide ng-repeat="slide in slides" active="slide.active">
                  <img ng-src="{{slide.image}}" style="margin:auto;">
                  <div class="carousel-caption">
                    <h4>Slide {{$index}}</h4>
                    <p>{{slide.text}}</p>
                  </div>
                </slide>
              </carousel>
            </div>
            <script>
              function CarouselDemoCtrl($scope) {
                $scope.myInterval = 5000;
                var slides = $scope.slides = [];
                $scope.addSlide = function() {
                  var newWidth = 601 + slides.length;
                  slides.push({
                    image: 'http://placekitten.com/' + newWidth + '/300',
                    text: ['More','Extra','Lots of','Surplus'][slides.length % 4] + ' ' +
                      ['Cats', 'Kittys', 'Felines', 'Cutes'][slides.length % 4]
                  });
                };
                for (var i=0; i<5; i++) {
                  $scope.addSlide();
                }
              }
            </script>
          </div>
          {/literal}
          <!--intr-->


          <div class="col-md-5">
            <h5 class="f18 ti10 invest-container-title">审核状况</h5>
            <table class="itemTable" cellspacing="0">
              <thead>
                <tr class="invest-check-title">
                  <th class="ti20" width="300">审核项目</th>
                  <th class="txtC">状态</th>
                  <th class="txtC">审核时间</th>
                </tr>
              </thead>
              <tbody id="invest-check-list">{list module="attestations" function="GetAttestationsList" var="loop" user_id="$var.user_id" status="1"} {foreach from="$loop.list" item="bvar"}

                <tr style="height: 30px;">
                  <td bgcolor="#FFFFFF">
                    <div align="left" style="padding: 0 5px;">
                      {$bvar.type_name}
                    </div>
                  </td>
                  <td bgcolor="#FFFFFF">
                    <div align="center" style="padding: 0 5px;">
                      {if $bvar.status==1}
                      <img alt="通过" src="{$tempdir}/images/answer_success.jpg">{else}
                      <img alt="未通过" src="{$tempdir}/images/ca.gif">{/if}
                    </div>
                  </td>
                  <td bgcolor="#FFFFFF">
                    <div align="center" style="padding: 0 5px;">
                      {$bvar.addtime|date_format:Y-m-d"}
                    </div>
                  </td>
                  <!-- <td bgcolor="#FFFFFF">
                                    <div align="center" style="padding: 0 5px;">
                                       {$bvar.verify_time|date_format:Y-m-d"}
                                    </div>
                              </td> -->
                </tr>
                {/foreach} {/list}</tbody>
            </table>
          </div>
        </div>
        <!--shenHe-->
      </div>
      <!-- tab1 end -->
      <!--tab2-->
      <div class="invest-tab-container bidFather">
        <div class="bidbox">
          <table class="bid" cellspacing="0">
            <thead>
              <tr class="">
                <th class="" width="148">投标人</th>
                <th class="" width="158">投标金额</th>
                <th class="" width="198">投标时间</th>
              </tr>
            </thead>
            <tbody id="tender-list" class="tender-list">

              {loop module="borrow" plugins="Tender" function="GetTenderList" limit="all" var="vat" borrow_nid="$_G.article_id" }


              <tr style="background-color: rgb(255, 255, 255); ">
                <td width="148" class="txtC">{$vat.username|truncate:3}**</td>
                <td width="128" class="txtRight pr30">{$vat.account}元</td>
                <td width="198" class="txtC">{$vat.addtime|date_format:"Y-m-d H:i:s"}</td>
              </tr>

              {/loop}

            </tbody>
          </table>
        </div>
        <div class="totalAmount posa fn-clear" id="totalAmount">
          <p class="f16">总投标金额￥</p>
          <p>
            <em class="f24" id="total-money">{$var.borrow_account_yes}</em>元</p>
          <p class="f16 mt20">剩余投标金额￥</p>
          <p>
            <em class="f24" id="total-time">{$var.borrow_account_wait}</em>元</p>
        </div>
      </div>
      <!--tab2 end-->
      <!--tab3 start-->
      <div class="invest-tab-container p20">
        <ul class="fn-clear p20 pl5" id="attachment">

          {foreach from=$var.upfiles_pic item="_item"}
          <li class="invest-pic-item">
            <a href="{$_item.fileurl}" title="{$_item.contents}">
              <img src="{$_item.fileurl|litpic:100,75}" />
            </a>
          </li>

          {/foreach}
        </ul>
      </div>


      <!-- tab4 end -->
    </div>

    <div class="content-block padding-large show-grid">
      <h4 class="header">用户留言</h4>
      <form action="" name='commit' method='post'>
        <div class="form-group">
          <textarea name="content" ng-model='content' rows="5" class='form-control' required></textarea>
        </div>
        <div class="form-group text-right">
          <button class="btn btn-primary" ng-disabled='commit.$invalid'>确定</button>
        </div>
      </form>
    </div>

    <div class="content-block padding-large show-grid">
      <h4 class="header">其他投资人还关注过</h4>
      <div class="row">
        <div class="col-md-6">
          <ul>
            <li><a href=""></a></li>
          </ul>
        </div>
      </div>
        <div class="col-md-6">
          <ul>
            <li><a href=""></a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <!-- wMain-->
</div>
<!--wrapperMain-->
<!--尾部开始-->
<div class="div_clb"></div>
{literal}
<script>
$(document).ready(function() {
  var pWidth = window.innerWidth,
    width = $("#loading_log").width();
  var pHeight = window.innerHeight,
    height = $("#loading_log").height();
  var top = (pHeight - height) / 2 + 50,
    left = (pWidth - width) / 2 - 150;
  $("#loading_log").css("top", top);
  $("#loading_log").css("left", left);
  $("#loading_log").css("position", "relative");

  $(".invest-tab-item").click(function() {
    index = $(".invest-tab-item").index($(this));
    $(".invest-tab-container").hide().eq(index).show();
    $(".invest-tab-item").removeClass("current").find("a").removeClass("current");
    $(this).addClass("current").find("a").addClass("current");
  });

  $("#tender_money").blur(function() {
    $(this).val(rxdai.fixMoney(checkMoney($(this).val())));
  });


})


/*点击 投标记录*/
function toubian() {
  fix($("#totalAmount"));
}
/*定位的方法*/
function fix(obj) {
  $(window).resize(function() {
    var objleft = $(obj).offset().left;
    var hidtop = $(document).scrollTop();
    hidtop >= 610 ? obj.removeClass("posa").addClass("fix").css("left", objleft + "px") : obj.removeClass("fix").addClass("posa").css("left", "701px");
  });
  $(window).scroll(function() {
    var objleft = $(obj).offset().left;
    var hidtop = $(document).scrollTop();
    hidtop >= 610 ? obj.removeClass("posa").addClass("fix").css("left", objleft + "px") : obj.removeClass("fix").addClass("posa").css("left", "701px");
  });
}
</script>

{/literal}{/if} {/articles} {include file="footer.html"}