// header block begin
.pg-header
    .pg-header-top
        .container_10.pt5
          .grid_7
            img(src='/themes/new/static/img/icon/phone.png')
            | 全国服务热线：400-800-800
          .grid_3.txtRight
            a(href='?user') 我的账户
            a#msg-notice.hide(href='account-msg.html')
              em.msg-icon.title.relative(style='top: 3px;')
              span.
                | [
                span#msg-count 0
                | ]
            | |
            a(href='/') 首页
            | |
            a(href='/help/index.html') 帮助
            | |
            a(href='/bbs/', target='_blank') 论坛
    .pg-header-main
        .container_10
          .grid_3.pg-header-grid
            a(href='/')
              img(src='/themes/new/static/img/icon/logo.png')
          .grid_5.pg-header-grid
            ul.main-nav
              li.main-nav-item
                a.main-nav-item-link(href='/invest/index.html') 我要理财
              li.main-nav-item
                a.main-nav-item-link(href='/financing/index.html') 我要融资
              li.main-nav-item
                a.main-nav-item-link(href='/tzzbz/index.html') 新手帮助
              li.main-nav-item
                a.main-nav-item-link(href='/aboutus/index.html') 关于我们
                ul.main-nav-son
                  li
                    a(href='/aboutus/index.html') 关于我们
                  li
                    a(href='/aboutzz/index.html') 证照资质
                  li
                    a(href='/aboutgwtd/index.html') 顾问团队
                  li
                    a(href='/abouthz/index.html') 合作伙伴
                  li
                    a(href='/lxwm/index.html') 联系我们
                  li
                    a(href='/aboutzp/index.html') 招聘信息
                  span.triangle_bg
                  span.triangle
                .icon.icon-down
          .grid_2.pg-header-grid
            ul#top-reg.main-nav.main-nav-login.nav-right
              li
                a.main-nav-login-item.f16(style='color: #0279cd;', href='/index.php?user&q=reg') 注册
              li
                a.main-nav-login-item.f16(href='/index.php?user&q=login') 登录
.trans-login-div.absolute.white(style='width: 320px; height: 270px; z-index: 2; top: 150px; right: 212px;')
  .opacity-div.absolute.wp100(style='height: 270px; background-color: rgb(0, 0, 0); opacity: 0.2; border-top-left-radius: 2px; border-top-right-radius: 2px; border-bottom-right-radius: 2px; border-bottom-left-radius: 2px; z-index: -1; background-position: initial initial; background-repeat: initial initial;')
  #unknown-user(style='padding: 20px 35px; display: block;')
    p.f20 点金贷年化收益率
    p
      span.f36.org 12%
      span.f36 -
      span.f36.org 15%
    p
      span.f18.org 40
      | 倍活期存款收益
      span.f18.org 5
      | 倍余额宝收益
    p
      a.block.wp100.h45.txtC.f18.mt10.mb10(href='/index.php?user&q=reg', style='color: #fff; background: #ff5301; letter-spacing: 2px;') 免费注册
    p.txtRight
      | 已有账号?
      a(href='/index.php?user&q=login', style='color: #fff; text-decoration: underline;') 立即登录
.pg-header-banner
  #full-screen-slider
    ul#slides
      li(style='background: url(\'http://dianjindai.com/data/upfiles/images/2014-03/22/1_scrollpic_new_1395458117859.jpg\') no-repeat center top;')
        a(href='', target='_blank')
      li(style='background: url(\'http://dianjindai.com/data/upfiles/images/2014-03/22/1_scrollpic_new_1395458108801.jpg\') no-repeat center top;')
        a(href='', target='_blank')
      li(style='background: url(\'http://dianjindai.com/data/upfiles/images/2014-03/22/1_scrollpic_new_1395458097364.jpg\') no-repeat center top;')
        a(href='', target='_blank')
      li(style='background: url(\'http://dianjindai.com/data/upfiles/images/2014-03/22/1_scrollpic_new_1395458089330.jpg\') no-repeat center top;')
        a(href='', target='_blank')
      li(style='background: url(\'http://dianjindai.com/data/upfiles/images/2014-03/22/1_scrollpic_new_1395458082133.jpg\') no-repeat center top;')
        a(href='', target='_blank')

// header block end
