doctype html
head
  title ╰(*°▽°*)╯
  meta(charset='utf-8')
  meta(name='viewport', content='width=device-width')
  link(rel='stylesheet', href='/vendor/fontawesome/css/font-awesome.css')
  link(rel='stylesheet', href='/css/app.css')

body(ng-app='myApp')

  //content block begin
  block content
  //content block end

  //content block end
  script(src='/vendor/library.js')
  script(src='/js/app.js')
  script(src='/js/templates.js')
