| {include file="header.html"}
.container
  include breadcrumb

  ul.nav.nav-pills.show-grid
    | {loop module="speeds" function="GetTopicTypeMenu" var="item" limit="all" }
    | {if $_G.site_result.rnid==$item.nid}
    li.active: a {$item.type_name}
    | {else}
    li: a(href='/financing/{$item.nid}.html') {$item.type_name}
    | {/if}
    | {/loop}

  .row.products
    | {loop module="speeds" function="GetTopicList" var="item" limit="all" cid="1" item=key rnid = $_G.site_result.rnid }
    .col-md-6.show-grid
      .content-block
        img(src='{$item.fileurl}')
        .padding-large
          h3 {$item.name}&nbsp;
            small 适用私营企业主和个体工商户
            a.more.detail.btn.btn-customize(href='/financinglists/{$item.id}.html')
          small {$item.contents}
    | {/loop}

  .content-block.show-grid.padding-large
    h3.header 借款流程
    img.center-block.show-grid(src='/themes/new/gulp/img/product5.gif')

  #qa.content-block.show-grid.padding-large
    .row.padding-large
      .col-md-6
        i.fa.fa-question-circle.fa-3x.text-primary.pull-left
        div
          h4 借款审核一般需要多长时间？
          p.text-muted 借款资料提交成功后，工作人员会在 2 个工作日内进行审核，审核结果会以电话的形式通知。
      .col-md-6
        i.fa.fa-question-circle.fa-3x.text-primary.pull-left
        div
          h4 借款额度是多少？
          p.text-muted 薪金贷和小微企业类借款额度为3万元到30万元，车贷类借款额度上限为50万元。
      .col-md-6
        i.fa.fa-question-circle.fa-3x.text-primary.pull-left
        div
          h4 还款方式有哪些？
          p.text-muted 目前根据不同的借款产品支持等额本息、一次付息，到期还本和按月付息，到期还本的还款方式。
      .col-md-6
        i.fa.fa-question-circle.fa-3x.text-primary.pull-left
        div
          h4 借款需要支付哪些费用？
          p.text-muted 借款人借款成功后需要支付给投资人的利息费用，以及支付给你我贷平台和你我贷平台合作伙伴的服务费用。
    img(src="/themes/new/gulp/img/qa.gif")

| {include file="footer.html"}
