// footer block begin
.pg-footer
    .pg-footer-main(style='height: auto;')
        .container.pt30: .row
          .col-md-6
            ul.pg-footer-link
              li
                a(href='/aboutus/index.html') 关于我们
              li
                a(href='/tzzbz/index.html') 新手指引
              li
                a(href='/media/index.html') 媒体报道
              li
                a(href='/aboutzp/index.html') 诚聘英才
              li
                a(href='/lxwm/index.html') 联系我们
              li
                a(href='/bbs/') 论坛专区
            dl.pg-footer-focus
              dt.f16 关注我们：
              dd
                a.pg-footer-icon.weibo(target='_blank', title='新浪微博', href='http://www.weibo.com/') 新浪微博
              dd
                a.pg-footer-icon.weixin(title='官方微信', href='/lxwm/index.html') 官方微信
              dd
                a.pg-footer-icon.mark(title='收藏本站', href='javascript:;', onclick='addBookmark()',style='background-color:transparent;') 收藏本站
          .col-md-6.txtRight.pg-footer-info
            .f16 服务热线
            .f20 400-800-800
            .f12 9:30-18:30
            .pt10
              a.pg-footer-icon.online(href='http://www.baidu.com/', title='在线客服', target='_blank', style='margin-right: -15px;') 在线客服
      .pg-footer-other
        .container
          .h30(align='left')
            | 友情链接：
            a(href='http://www.baidu.com/', target='_blank', title='') 网络系统
            a(href='http://www.baidu.com/', target='_blank', title='') 人人货币
          .row
            .col-md-8
              | 点金贷  Copyright Reserved 2011-2014  |
              a(href='http://www.miitbeian.gov.cn/state/outPortal/loginPortal.action', target='_blank') 10001122211
              | |
            .col-md-4.pt20
              a.pg-footer-icon.zhengxin.fRight(style='width: 33px; margin-right: 0px;', title='网络社会征信网', href='http://pinggu.zx110.org/review_url_http://dianjindai.com', target='_blank') 网络社会征信网
              a.pg-footer-icon.gongxin.fRight(style='width: 34px;', title='工信部备案信息', href='http://www.miibeian.gov.cn/', target='_blank') 工信部备案信息
              //
                <a style="width:44px;" title="瑞星安全认证" href="#" class="pg-footer-icon rueixin fRight">瑞星安全认证</a>

#side-tool-bar.content-block
  ul.nav.nav-pills.nav-stacked.text-center
    li: a(href='') 申请借款
    li: a(href='') 意见反馈
    li: a(href='')
      i.fa.fa-comments-o.fa-4x
      div 在线客服
    li: a(go-top)
        i.fa.fa-angle-up.fa-4x


script(src='/themes/new/js/tipswindown.js')
script(src='/themes/new/js/deayou.js')
script(src='/themes/new/js/base.js')
script(src='/themes/new/js/lhgdialog.js')
script(src='/plugins/timepicker/WdatePicker.js')
script(src='/themes/new/js/showtime.js')
script(src='/themes/new/static/js/jquery.global.js')
script(src='/themes/new/static/js/jquery.jslides.js')


script(src='/themes/new/lib/angular/angular.js', charset='utf-8')
script(src='/themes/new/lib/angular-animate/angular-animate.js', charset='utf-8')
script(src='/themes/new/lib/underscore/underscore.js', charset='utf-8')
script(src='/themes/new/lib/angular-bootstrap/ui-bootstrap-tpls.js', charset='utf-8')
script(src='/themes/new/gulp/js/**/*.js', charset='utf-8')

// footer block end
|</body>
|</html>
