
.container
  include breadcrumb

  ul.nav.nav-pills.show-grid
    li.active: a(href='') 个人贷款
    li: a(href='') 企业贷款
    li: a(href='') 特色借款

  .row.products
    .col-md-6.show-grid
      .content-block
        img(src='/themes/ipoly/img/product1.gif')
        .padding-large
          h3 小微贷&nbsp;
            small 适用私营企业主和个体工商户
            a.more.detail.btn.btn-customize(href='')
          small 为小微企业提供的专属借款，帮助解决企业资金周转困难
    .col-md-6.show-grid
      .content-block
        img(src='/themes/ipoly/img/product2.gif')
        .padding-large
          h3 薪金贷&nbsp;
            small 适用工薪阶层
            a.more.detail.btn.btn-customize(href='')
          small 向有固定工作且收入稳定、信用记录良好的工薪族提供的专属借款
    .col-md-6.show-grid
      .content-block
        img(src='/themes/ipoly/img/product3.gif')
        .padding-large
          h3 车易贷&nbsp;
            small 适用有车一族
            a.more.detail.btn.btn-customize(href='')
          small 向名下拥有车辆的车主提供的专属借款
    .col-md-6.show-grid
      .content-block
        img(src='/themes/ipoly/img/product4.gif')
        .padding-large
          h3 净值贷&nbsp;
            small 适用点金贷平台投资人
            a.more.detail.btn.btn-customize(href='')
          small 向点金贷线上出借用户提供的专属借款

  .content-block.show-grid.padding-large
    h3.header 借款流程
    img.center-block.show-grid(src='/themes/ipoly/img/product5.gif')

  #qa.content-block.show-grid.padding-large
    .row.padding-large
      .col-md-6
        i.fa.fa-question-circle.fa-3x.text-primary.pull-left
        div
          h4 借款审核一般需要多长时间？
          p.text-muted 借款资料提交成功后，工作人员会在 2 个工作日内进行审核，审核结果会以电话的形式通知。
      .col-md-6
        i.fa.fa-question-circle.fa-3x.text-primary.pull-left
        div
          h4 借款额度是多少？
          p.text-muted 薪金贷和小微企业类借款额度为3万元到30万元，车贷类借款额度上限为50万元。
      .col-md-6
        i.fa.fa-question-circle.fa-3x.text-primary.pull-left
        div
          h4 还款方式有哪些？
          p.text-muted 目前根据不同的借款产品支持等额本息、一次付息，到期还本和按月付息，到期还本的还款方式。
      .col-md-6
        i.fa.fa-question-circle.fa-3x.text-primary.pull-left
        div
          h4 借款需要支付哪些费用？
          p.text-muted 借款人借款成功后需要支付给投资人的利息费用，以及支付给你我贷平台和你我贷平台合作伙伴的服务费用。
    img(src="/themes/ipoly/img/qa.gif")
