doctype html
head
  title 测试页
  meta(charset='utf-8')
  meta(name='viewport', content='width=device-width')
  link(rel='shortcut icon', href='/themes/new/static/themes/ipoly/img/icon/favicon.ico')
  link(rel='stylesheet', href='/themes/new/static/css/global.css')
  link(rel='stylesheet', href='/themes/new/static/css/index.css')
  link(rel='stylesheet', href='/themes/new/static/css/one.css')
  link(rel='stylesheet', href='/themes/new/static/css/account.css')
  link(href='/themes/new/css/style.css', rel='stylesheet', type='text/css')
  link(href='/themes/new/css/user.css', rel='stylesheet', type='text/css')
  link(href='/themes/new/css/public.css', rel='stylesheet', type='text/css')
  link(href='/themes/new/css/other.css', rel='stylesheet', type='text/css')
  link(href='/themes/new/css/tipswindown.css', rel='stylesheet', type='text/css')
  link(rel='stylesheet', href='/themes/new/lib/font-awesome/css/font-awesome.css')
  link(rel='stylesheet', href='/themes/new/gulp/css/app.css')

body(ng-app='dianJinDai')

  include index


  script(src='/themes/new/lib/jquery/dist/jquery.js')

  script(src='/themes/new/js/tipswindown.js')
  script(src='/themes/new/js/deayou.js')
  script(src='/themes/new/js/base.js')
  script(src='/themes/new/js/lhgdialog.js')
  script(src='/plugins/timepicker/WdatePicker.js')
  script(src='/themes/new/js/showtime.js')
  script(src='/themes/new/static/js/jquery.global.js')
  script(src='/themes/new/static/js/jquery.jslides.js')


  script(src='/themes/new/lib/angular/angular.js')
  script(src='/themes/new/lib/angular-animate/angular-animate.js')
  script(src='/themes/new/lib/underscore/underscore.js')
  script(src='/themes/new/gulp/js/**/*.js')
