| {include file='header.html'}
.container
  include breadcrumb

  |  {list module="borrow" function="GetList" var="loop" borrow_name="request" type="request" flag="request" account_status="request" borrow_period="request" spread_month="request" award_status ="request" keywords="request" province="request" city="request"  epage="10" order="$magic.request.order"  borrow_style="request" borrow_type="request" borrow_interestrate="request" status_nid="$_G.site_result.nid"  query_type="$_G.site_result.nid"}
  | {foreach from="$loop.list" item="var" }
  table.table.table-bordered.content-block.product-list-table
    thead: tr.active
      td(colspan='6')
        a(href='') {$var.borrow_type|linkages:'borrow_all_type'}
        span.font-size-small.text-muted &nbsp;起息日（T+1）
        .text-right.text-muted.pull-right 全网首创贸易项下融资产品
    tbody: tr.text-center
      td: a(href='')
        img.img-thumbnail(src="/themes/new/gulp/img/myt88.jpg", alt="")
        | {$var.name}
      td
        .text-warning.percentage.font-size-large {$var.borrow_apr}
        .text-muted 借款年利率
      td
        .text-warning.font-size-large {$var.borrow_period_name}
        .text-muted 期限
      td
        .text-warning.font-size-large {$var.account}元
        .text-muted 投资金额
      td
        .progress.progress-small.progress-inline(progress='{$var.borrow_account_scale|round}', type='warning')
        span.percentage {$var.borrow_account_scale|round}
        .text-muted 进度
      td
        | {if $$var.end_time<0 || $var.borrow_account_scale==100.00}
        a.btn.btn-warning.btn-fat(diabled)
          | {if $$var.end_time<0}还款中{elseif $var.borrow_account_scale==100.00}已满标{/if}
        | {else}
        a.btn.btn-warning.btn-fat(href='/invest/a{$var.borrow_nid}.html') 立即投资
        |{/if}

  | {/foreach}
  | {/list}
  .text-center
    ul.pagination
      li.diabled: a(href=''): i.fa.fa-angle-left
      li.active: a(href='') 1
      li: a(href='') 2
      li: a(href='') 3
      li: a(href='') 4
      li: a(href='') 5
      li: a(href='') 6
      li: a(href=''): i.fa.fa-angle-right

| {include file='footer.html'}